/*magin: buttom right top left*/

html{
    background-color: black;
    background-image: url("BG1.gif");
    background-size: 1920px;
}
.row{
    margin: 0;
    padding-top: 00;
    max-width: 1140px;
}
.calculator{
    border-radius: 20px;
    border: solid rgba(255, 166, 0, 0.616) 2px;
    margin-left: 30%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-top: 10%;
}
@media screen and (max-width:1080px){
    .calculator{
        margin: 10%;
    }
}
.result{
    margin: 4% 0 5% 0;
    width: 100%;
    height: auto;
    margin-left: 4%;
    margin-bottom: 40px;
    background-color: #FDFFE8;
    border: none;
    border-radius: 2px;
    font-size: 150%;
    text-align: right;
    
}
@media screen and (max-width:1080px){
    .result{
        margin-left: 2%;
    }
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.Clear{
    font-size: 30px;
    background-color: rgb(161, 0, 0);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
@media screen and (max-width:1080px) {
    .Clear{
        margin-left: 80px;
    }
}
.Clear:hover{
    font-size: 30px;
    background-color: rgb(212, 0, 0);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Clear:active{
    font-size: 30px;
    background-color: rgb(161, 0, 0);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Numbers{
    font-size: 30px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
@media screen and (max-width:1080px) {
    .Numbers{
        margin-left: 80px;
    }
}
.Numbers:hover{
    font-size: 30px;
    background-color: rgb(180, 180, 180);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Numbers:active{
    font-size: 30px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Oparator{
    font-size: 30px;
    background-color: green;
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
@media screen and (max-width:1080px) {
    .Oparator{
        margin-left: 80px;
    }
}
.Oparator:hover{
    font-size: 30px;
    background-color: rgb(44, 185, 1);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Oparator:active{
    font-size: 30px;
    background-color: green;
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
.Equal{
    font-size: 30px;
    background-color: rgb(209, 143, 21);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
    margin-right: 60px;
}
@media screen and (max-width:1080px) {
    .Equal{
        margin-left: 80px;
    }
}
.Equal:hover{
    font-size: 30px;
    background-color: rgb(231, 151, 3);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
    margin-right: 60px;
}.Equal:active{
    font-size: 30px;
    background-color: rgb(209, 143, 21);
    color: rgb(221, 213, 213);
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: none;
    display: inline-block;
    margin-left: 80px;
    text-align: center;
    margin-right: 60px;
}
